/*
Color:
#6C4AB6
#8D72E1
#8D9EFF
#B9E0FF
#FFE15D
*/

/* Setting Font & Utility */
* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
button{
    color: white !important;
}
body {
    width: 100%;
    margin: 0;
    padding: 80px 0;
    background-color: #6c4ab6;
    background: url("../img/bg.jpg");
    background-size: cover;
    /* background-position-y: 100vh; */
    background-repeat: repeat;
}
a {
    text-decoration: none;
    color: inherit;
}
/* End Font & Utility */

/* Form login */
.edit-container {
    width: 100%;
    /* height: calc(100vh - 100px); */
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.edit-container *:not(.error) {
    color: #000;
}
.card-container {
    width: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px;
}

.form-container {
    /* background-color: blue; */
    width: 100%;
    height: 80%;
    /* overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.form-content {
    /* background-color: red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5px 0;
}
input {
    height: 44px;
    width: 100%;
    border-radius: 10px;
    border: none;
    border-bottom: 1px solid #6c4ab6;
    border: 1px solid #6c4ab6;
    padding: 10px 15px;
    outline: none;
    box-sizing: border-box;
}
input::placeholder {
    color: #aaa;
}

button {
    width: 100px;
    height: 44px;
    margin: 10px 0;
    background-color: #6c4ab6;
    color: #eee;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}



/* Show password */
.password {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
}
.show-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
}
/* End show password */

/* Profile image */
.form-content:has(#preview-inv-img) {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#preview-inv-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
/* End profile image */



/* Delete Account */
.delete-account-container{
    width: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.delete-account-container > button{
    background-color: red;
}
/* End Delete Account */